@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
	<di class="container">
		<h3 class="tittle">Yazar olmak istiyor musunuz?</h3>
		<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">
				@using (Html.BeginForm("Index", "Register", FormMethod.Post))
				{
				<div class="form-row">
						<div class="form-group col-md-12">
							<label>Ad Soyad</label>
							@Html.TextBoxFor(x=> x.WriterNameSurname,new {@class = "form-control"})
							@Html.ValidationMessageFor(x=> x.WriterNameSurname, String.Empty, new { @style="color:red;!important;font-size:13px"})
							@*<input type="text" class="form-control" id="validationDefault01" name="WriterNameSurname" placeholder="" required="">*@
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label >E-Posta</label>
							@Html.TextBoxFor(x=> x.WriterMail,new {@class = "form-control"})
							@Html.ValidationMessageFor(x=> x.WriterMail, String.Empty, new { @style="color:red;!important;font-size:13px"})
@*							<input type="email" class="form-control" id="password1" name="WriterMail" placeholder="" required="">
*@						</div>

					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label >Şifre</label>
							@Html.TextBoxFor(x=> x.WriterPassword,new {@class = "form-control"})
							@Html.ValidationMessageFor(x=> x.WriterPassword, String.Empty, new { @style="color:red;!important;font-size:13px"})
@*							<input type="password" class="form-control" id="password1" name="WriterPassword" placeholder="" required="">
*@						</div>
					</div>
					<button style="text-align:center" type="submit" class="btn btn-primary submit mb-4">Kaydol</button>
				}
			</div>
		</div>
	</di v>
</section>
