@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<br />

@using (Html.BeginForm("UpdateBlog", "Blog", FormMethod.Post))
{
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x=> x.BlogID, new {@class = "form-control"})

    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x=> x.BlogTitle, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=> x.BlogTitle, String.Empty, new { @style="color:red;!important;font-size:13px"})

    <br />

    @Html.Label("Blog Kategori")
    @Html.DropDownListFor(x=> x.CategoryID,(List<SelectListItem>)ViewBag.cv, new {@class = "form-control"})

    <br />

    @Html.Label("Blog Görseli")
    @Html.TextBoxFor(x=> x.BlogImage, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=> x.BlogImage, String.Empty, new { @style="color:red;!important;font-size:13px"})

    <br />

    @Html.Label("Dış Blog Görseli")
    @Html.TextBoxFor(x=> x.BlogThumbnailImage, new {@class = "form-control"})

    <br />

    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x=> x.BlogContent,15,3, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=> x.BlogContent, String.Empty, new { @style="color:red;!important;font-size:13px"})

    <br />

    <button class="btn btn-primary">Kaydet</button>
}
