@model Core_5._0_App.Models.AddProfileImage
@{
    ViewData["Title"] = "WriterAdd";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("WriterAdd", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profil Düzenle</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(x=> x.WriterID,  new { @class="form-control"})
                        <label for="exampleInputName1">Ad Soyad</label>
                        @Html.TextBoxFor(x=> x.WriterNameSurname,  new { @class="form-control"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">E-Posta</label>
                        @Html.TextBoxFor(x=> x.WriterMail, new { @class="form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">E-Şifre</label>
                        @Html.TextBoxFor(x=> x.WriterPassword, new { @class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Fotoğraf</label>                        
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled>
                            <span class="input-group-append">
                                <input type="file" class="file-upload-browse btn btn-gradient-primary" name="WriterImage" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Hakkında</label>
                        @Html.TextAreaFor(x=> x.WriterAbout,15,3, new {@class = "form-control"})
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Gönder</button>
                </form>
            </div>
        </div>
    </div>
}

